<div id="content" data-turbolinks="false">
    <h1>Login</h1>
    <% if(!account) %>
        <%= form_with(url: sessions_path, local: true, autocomplete: "off") do |f| %>
            <div class='m-t'>
                <%= f.label(:name, "Username", class: 'kit-block') %>
                <%= f.text_field(:name, placeholder: "Username", class: 'textbox kit-width-100') %>
            </div>
            <div class='m-t'>
                <%= f.label(:password, "Password", class: 'kit-block') %>
                <%= f.password_field(:password, placeholder: "Password", class: 'textbox kit-width-100') %>
            </div>
            <%= f.submit("Log in", class: 'kit-button-alt -flat -medium m-t-l') %>
        <% end %>
        <p>or: <%= link_to "User registration", new_user_path, class: 'kit-hyperlink' %></p>
    <% else %>
        You are already logged in.<br>
        <%= link_to('Logout', "/sessions/" + account.name, method: :delete, class: 'kit-hyperlink') %>
    <% end %>
</div>
