<div id="content">
    <h1>Edit profile</h1>
    <% if( @user.errors.present? ) %>
        <% @user.errors.messages.each do |message| %>
            <% message[1].each do |m| %>
                <div class="error"><%= m %></div>
            <% end %>
        <% end %>
    <% end %>
    <%= form_with( model: @user, local: true ) do |f| %>
        <div class='m-t-l'>
            <%= f.label(:profile, 'Profile', class: 'kit-block') %>
            <%= f.text_area(:profile, placeholder: 'Profile', class: 'textbox kit-width-100') %>
        </div>

        <div class='m-t-l'>
            <%= f.label(:name, 'Username', class: 'kit-block') %>
            <%= f.text_field(:name, placeholder: 'Username', class: 'textbox kit-width-100') %>
        </div>

        <blockquote class="m-0 m-t-l">[Danger] This operation will change directory of your page on kpt.</blockquote>

        <div class='m-t-l'>
            <%= f.label(:password, 'Password', class: 'kit-block') %>
            <%= f.password_field(:password, placeholder: 'Password', class: 'textbox kit-width-100') %>
            <kit-space></kit-space>
            <%= f.password_field(:password_confirmation, placeholder: 'Confirmation', class: 'textbox kit-width-100') %>
        </div>

        <%= f.submit(class: 'kit-button-alt -medium m-t-l') %>
    <% end %>
</div>
