<% @page_type = "user" %>
<% @page_title = @user&.name %>

<div id="content">
    <% if @user %>
        <%= link_to "Edit my profile", edit_user_path(account.name), class: 'kit-button-alt -dodgerblue kit-right' if account&.id == @user.id %>
        <h1><%= @user.name %></h1>
        <div class="kit-pane p-s">
            <%= @user.profile %>
        </div>
        <h3>Published Apps</h3>
        <kit-container>
            <% @user.apps.each do |app| %>
                <div class="kit-pane kit-box hover p-s">
                    <%= link_to(app.appid,'/' + app.appid, class: 'kit-hyperlink') %>
                    <span>- <%= app.name %></span>
                    <%= link_to( app.user.name, user_path(app.user.name), class: 'kit-sub kit-right kit-hl-alt') %>
                </div>
            <% end %>
        </kit-container>
        <%= link_to "Register new app", new_app_path, class: 'kit-button-alt -limegreen kit-block kit-text-c m-t-l' if account&.id == @user.id %>
        <% if @user.apps.length == 0 %>
            <i>Nothing to show.</i>
        <% end %>
    <% else %>
        <h1>Something went wrong...</h1>
        <div>
            <strong><%= params[:user_name] || 'The user' %></strong> is not found.
        </div>
    <% end %>
</div>
