<div id="content">
    <h1>Register new app</h1>
    <% if( @app.errors.present? ) %>
        <% @app.errors.full_messages.each do |message| %>
            <div class="error m"><%= message %></div>
        <% end %>
    <% end %>
    <%= form_with( model: @app, local: true ) do |f| %>

        <div class='p'>
            <%= f.label(:appid, 'App ID', class: 'kit-block') %>
            <div class="kit-sub">Can't be duplicated.</div>
            <%= f.text_field(:appid, placeholder: 'App ID', class: 'textbox kit-width-100 kit-font-l p m-t') %>
        </div>

        <div class='p'>
            <%= f.label(:name, 'App Name', class: 'kit-block') %>
            <%= f.text_field(:name, placeholder: 'App Name', class: 'textbox kit-width-100 m-t') %>
        </div>
        <div class='p'>
            <%= f.label(:desc, 'Description', class: 'kit-block') %>
            <%= f.text_area(:desc, placeholder: 'Description', class: 'textbox kit-width-100 m-t') %>
        </div>

        <%= f.submit(class: 'kit-button-alt -medium m-t-l') %>
    <% end %>
</div>
