<% @page_type = "app" %>
<% @page_title = @app.appid %>

<div id="content">
    <% if @app %>
        <h1>
            <%= @app.appid %>
            <span class="kit-sub">by <%= link_to(@app.user.name, user_path(@app.user.name), class: "kit-hl-alt") %></span>
        </h1>
        
        <div class="kit-pane kit-sub">
            <%= @app.name %> - Version: <%= @versions.first&.name %>
        </div>

        <kit-space class="m"></kit-space>

        <h3>Install by kpt command:</h3>

        <code class="kit-block p">kpt install <%= @app.appid %></code>

        <h3>Description</h3>

        <article>
            <%= @app.desc %>
        </article>
        

        <h3>
            Versions
            <% if @versions.present? %>
                <span class="kit-badge -limegreen"><%= @versions.length %></span>
            <% end %>
        </h3>

        <% if @versions.present? %>
            <p>Latest version is <strong><%= @versions.first.name %></strong>.</p>
        <% end %>

        <kit-container>
            <% if @versions.length > 0 %>
                <% @versions.each do |version| %>
                    <div class="kit-box">
                            <%= link_to( 'API data', 'api/v1/apps/' + @app.appid, class: "kit-hyperlink kit-right kit-font-s", target: "_blank" ) %>
                            <span class="kit-right m-left m-r kit-sub">|</span>
                            <%= link_to( 'define.json', version.path + 'define.json', class: "kit-hyperlink kit-right kit-font-s", target: "_blank" ) %>
                            <div>
                                <strong><%= version.name %></strong>
                                <span class="kit-sub"><%= version.public_uid %></span>
                                <div class="kit-sub"><%= version.created_at %></div>
                            </div>
                            <div class="kit-sub"><%= version.desc %></div>
                        <code class="kit-block m">
                            kpt install <%= @app.appid %> <%= version.name %>
                        </code>
                        <div class="kit-text-r">
                            <%= link_to "Edit", edit_app_version_path(@app.appid, version.public_uid) , class: 'kit-hyperlink' if account&.id == @app.user.id %>
                            <%= link_to "Delete", nil , class: 'kit-hyperlink' if account&.id == @app.user.id %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="kit-box">There is no versions.</div>
            <% end %>
        </kit-container>

        <p>
            <%= link_to "Add version to this app", new_app_version_path(@app.appid) , class: 'kit-button-alt -limegreen kit-block kit-text-c' if account&.id == @app.user.id %>
        </p>
        
        <p class="kit-text-r">
            <%= link_to "Edit this app", edit_app_path(@app.appid), class: 'kit-button-alt' if account&.id == @app.user.id %>
            <%= link_to "Delete this app", @app, method: :delete, class: 'kit-button-alt -crimson', data: { confirm: 'Are you sure you want to delete the app?' } if account&.id == @app.user.id %>
        </p>

    <% else %>
        <h1>Something went warong...</h1>
        <div>
            <strong><%= params[:appid] %></strong> is not found.
        </div>
    <% end %>
</div>
