<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'kit pkg transfering system' %> | kpt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/kitstrap.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <a class='header-logo' href="/">kpt</a>
      <%= @page_type %>
      <% if( account ) %>
        <%= link_to(image_tag('/exit.png'), '/sessions/' + account.name, method: :delete, class: 'kit-right') %>
        <%= link_to(image_tag('/account_box.png'), user_path(account.name), class: 'kit-right') %>
      <% else %>
        <%= link_to(image_tag('/account_circle.png'), login_path, class: 'kit-right') %>
      <% end %>
    </header>
    <% if(flash.notice) %>
      <div class="kit-notice m-t-l p"><%= flash.notice %></div>
    <% end %>
    <%= yield %>
    <footer class="kit-footer p-l">
      <a href="/" class="kit-hl">kpt</a> - kit pkg transfering system
      <div class="m-t kit-sub">
        <a href="/apps" class="kit-hl-alt">App apps</a>
        |
        <a href="/login" class="kit-hl-alt">Log in</a>
        |
        <a href="https://github.com/mtsgi/kpt" class="kit-hl-alt">GitHub</a>
      </div>
    </footer>
  </body>
</html>
