<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'kit pkg transfering system' %> | kpt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/kitstrap.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <a class='header-logo' href="/">kpt</a>
      <%= @page_type %>
      <% if( account ) %>
        <%= link_to('Logout', "/sessions/" + account.name, method: :delete, class: 'kit-right') %>
        <%= link_to('My Page', user_path(account.name), class: 'kit-right') %>
      <% else %>
        <%= link_to('Login', login_path, class: 'kit-right') %>
      <% end %>
    </header>
    <% if(flash.notice) %>
      <div class="notice"><%= flash.notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
